.side-nav-logo {
	--logo-height: var(--space-5);

	display: flex;
	gap: calc(var(--logo-height) * 0.265625);
	align-items: center;

	height: var(--space-10);

	padding: 0 var(--space-1);

	.word-mark {
		height: calc(var(--logo-height) * 0.9375);
		flex-shrink: 0;

		@media (prefers-reduced-motion: no-preference) {
			transition-duration: var(--dur-short);
			transition-property: opacity;
			transition-timing-function: var(--ease-quart-in-out);
		}
	}

	.logo-mark {
		height: var(--logo-height);
		flex-shrink: 0;
	}
}

.full-screen-loader {
	--loader-size: var(--space-16);

	position: absolute;
	inset: 0;
	z-index: 10;

	display: flex;
	justify-content: center;
	align-items: center;
	/* 
	height: 100dvh;
	width: 100%; */

	color: var(--slate-11);
	background-color: var(--slate-3);

	.logo-loader {
		width: var(--loader-size);
		height: var(--loader-size);
		/* animation: logo-loader 1s var(--ease-quart-in-out) forwards; */
	}

	&[data-active="false"] {
		opacity: 0;
		pointer-events: none;
		transition: opacity var(--dur-short) var(--ease-quart-in-out);
	}
}

.content-loader {
	--loader-size: var(--space-16);

	position: fixed;
	inset: 0;
	z-index: 10;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 100dvh;
	width: 100%;

	color: var(--slate-11);
	/* background-color: var(--slate-1); */

	.logo-loader {
		width: var(--loader-size);
		height: var(--loader-size);
		/* animation: logo-loader 1s var(--ease-quart-in-out) forwards; */
	}

	&[data-active="false"] {
		opacity: 0;
		pointer-events: none;
		transition: opacity var(--dur-short) var(--ease-quart-in-out);
	}
}

.dialog {
	.full-screen-loader {
		--loader-size: min(var(--space-16), 5%);
	}
}
